<div *ngIf="loading">Loading...</div>

<div *ngIf="!loading && episode">
  <table class="episode-detail-table">
    <thead>
      <tr>
        <th>Detalle del Episodio</th>
        <th>Información</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Nombre del Episodio:</strong></td>
        <td>{{ episode.name }}</td>
      </tr>
      <tr>
        <td><strong>Air Date:</strong></td>
        <td>{{ episode.air_date }}</td>
      </tr>
      <tr>
        <td><strong>Episode Code:</strong></td>
        <td>{{ episode.episode }}</td>
      </tr>
      <tr>
        <td><strong>Personajes:</strong></td>
        <td>
          <ul>
            <li *ngFor="let character of episode.characters">{{ character }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
